<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Super Calculator :</h2>
      <div class="row">
        <input type="text" #disp [(ngModel)]="answer" class="input-group-text col" (keyup.enter)="evaluate(disp.value)"
                placeholder="Enter expression and press enter" style="text-align: right;">
        <div class="alert alert-danger col" *ngIf="error">{{error}}</div>
      </div>
      <div class="row">
        <button class="btn btn-outline-dark btn-danger col bt" (click)="clear()">C</button>
        <button class="btn btn-outline-dark btn-success col bt" (click)="pressBtn($event)">%</button>
        <button class="btn btn-outline-dark btn-success col bt" (click)="pressBtn($event)">/</button>
        <button class="btn btn-outline-dark btn-danger col bt" (click)="back()">back</button>
      </div>
      <div class="row">
        <button class="btn btn-outline-dark btn-secondary col bt" (click)="pressBtn($event)">7</button>
        <button class="btn btn-outline-dark btn-secondary col bt" (click)="pressBtn($event)">8</button>
        <button class="btn btn-outline-dark btn-secondary col bt" (click)="pressBtn($event)">9</button>
        <button class="btn btn-outline-dark btn-success col bt" (click)="pressBtn($event)">*</button>
      </div>
      <div class="row">
        <button class="btn btn-outline-dark btn-secondary col bt" (click)="pressBtn($event)">4</button>
        <button class="btn btn-outline-dark btn-secondary col bt" (click)="pressBtn($event)">5</button>
        <button class="btn btn-outline-dark btn-secondary col bt" (click)="pressBtn($event)">6</button>
        <button class="btn btn-outline-dark btn-success col bt" (click)="pressBtn($event)">-</button>
      </div>
      <div class="row">
        <button class="btn btn-outline-dark btn-secondary col bt" (click)="pressBtn($event)">1</button>
        <button class="btn btn-outline-dark btn-secondary col bt" (click)="pressBtn($event)">2</button>
        <button class="btn btn-outline-dark btn-secondary col bt" (click)="pressBtn($event)">3</button>
        <button class="btn btn-outline-dark btn-success col bt" (click)="pressBtn($event)">+</button>
      </div>
      <div class="row">
        <button class="btn btn-outline-dark btn-secondary col bt" (click)="pressBtn($event)">0</button>
        <button class="btn btn-outline-dark btn-secondary col bt" (click)="pressBtn($event)">.</button>
        <button class="btn btn-outline-dark btn-primary col-6 bt" (click)="evaluate(disp.value)">=</button>
      </div>
    </div>
    <div class="col-md-6">
      <app-result [resultsArr]='results' (singleResultClick)="singleResult($event)"></app-result>
    </div>
  </div>
</div>
