<div class="container">
  <form [formGroup]="calcForm" (ngSubmit)="evaluate()">
    <h2>Super Calculator :</h2>
    <div class="row form-group">
      <div class="col-4">
        <input type="text" class="form-control" formControlName="firstOperand" placeholder="First Number">
      </div>
      <div class="col-2">
        <select class="form-control" formControlName="operator">
          <option value="+">+</option>
          <option value="-">-</option>
          <option value="*">*</option>
          <option value="/">/</option>
          <option value="%">%</option>
        </select>
      </div>
      <div class="col-4">
        <input type="text" class="form-control" formControlName="secondOperand" placeholder="Second Number">
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-primary">GO</button>
      </div>
    </div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <h2 *ngIf="result">Result : {{result}}</h2>
  </form>
  <app-result [resultsArr]='results'></app-result>
</div>