<section>
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 maincontent">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <h3>Employee Details</h3>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  
                  <button class="btn btn-danger" (click)="onDelete(detail.id)" style="float: right;">Delete
                      <i class="fa fa-trash"></i></button>
        </div>
        <form #viewForm="ngForm" (ngSubmit)="onEdit(viewForm)" ngNativeValidate>
          <div class="formborder mat-elevation-z6">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label>First Name*</label>
                <input class="form-control" name="first_name" placeholder="First Name*" type="text"
                  [(ngModel)]="detail.first_name" required>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label>Last Name*</label>
                <input class="form-control" name="last_name" placeholder="Last Name*" type="text"
                  [(ngModel)]="detail.last_name" ngModel>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label>Username*</label>
                <input class="form-control" disabled="" name="user_name" placeholder="Username*" type="text"
                  [(ngModel)]="detail.user_name">
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label>Password*</label>
                <input class="form-control" disabled="" name="password" placeholder="Password*" type="password"
                  [(ngModel)]="detail.password">
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <label>Address*</label>
                <textarea placeholder="Address*" name="address" class="form-control" [(ngModel)]="detail.address"
                  ngModel></textarea>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-4 col-xs-12">
                  <div class="form-group">
                    <label>City*</label>
                    <input class="form-control" name="city" placeholder="City*" type="text" [(ngModel)]="detail.city"
                      ngModel>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-4 col-xs-12">
                  <div class="form-group">
                    <label>State*</label>
                    <select class="form-control" name="state" [(ngModel)]="detail.state">
                      <option selected disabled>{{detail.state}}</option>
                      <option *ngFor="let state of states">{{state}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-4 col-xs-12">
                  <div class="form-group">
                    <label>Zip Code*</label>
                    <input class="form-control" name="zip_code" placeholder="Zip Code*" type="text"
                      [(ngModel)]="detail.zip_code" ngModel>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-4 col-xs-12">
                  <div class="form-group">
                    <label>Date Of Birth*</label>
                    <input class="form-control" id="dob" name="dob" placeholder="DD/MM/YYYY*" type="date"
                      [(ngModel)]="detail.dob">
                  </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-4 col-xs-12">
                  <div class="form-group">
                    <label>Employee id*</label>
                    <input class="form-control" name="emp_id" placeholder="Employee id*" type="text"
                      [(ngModel)]="detail.emp_id">
                  </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-4 col-xs-12">
                  <div class="form-group">
                    <label>Role*</label>
                    <input type="checkbox" name="is_admin" [(ngModel)]="detail.is_admin">Admin
                    <input type="checkbox" name='x' disabled [ngModel]="!detail.is_admin">Employee
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label>Phone no.*</label>
                    <input class="form-control" name="phone_no" placeholder="Phone no.*" type="text"
                      [(ngModel)]="detail.phone_no" ngModel>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <label>Email id*</label>
                    <input class="form-control" name="email" placeholder="Email id*" type="text"
                      [(ngModel)]="detail.email" ngModel>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right  signbtn padding0">
              <div class="col-lg-2 col-md-5 col-sm-4 col-xs-6">
                <a routerLink="/home" class="login_btn">Cancel<i class="fa fa-times"></i> </a>
              </div>
              <div class="col-lg-2 col-md-5 col-sm-4  col-xs-6">
                <button type="submit" class="login_btn"><i class="fa fa-hand-o-right">Submit</i>
                  
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
