<section>
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 maincontent">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
        style="border-bottom: 1px solid #dddddd; margin-bottom: 10px;">
        <div class="row myFilter">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Employee">
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-9 col-md-6 col-sm-7 col-xs-12">
        <h1 class="pagehead">List Of Employees</h1>
      </div>
      <div *ngIf="is_admin" class="col-lg-3 col-md-6 col-sm-5 col-xs-12">
        <button class="pull-right" mat-raised-button color="warn" routerLink="/register"><i
            class="fa fa-plus">&nbsp;</i>Add Employee</button>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class=" table-responsive myContainer">
          <table class="table table-striped table-hover table-condensed mat-elevation-z8" mat-table
            [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Sno </th>
              <td mat-cell *matCellDef="let row; let i = index;">
                {{(i+1) + (myPaginator.pageIndex * myPaginator.pageSize)}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </th>
              <td mat-cell *matCellDef="let row"> {{row.first_name+" "+row.last_name}} </td>
            </ng-container>

            <!-- EmpID Column -->
            <ng-container matColumnDef="empid">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee ID </th>
              <td mat-cell *matCellDef="let row"> {{row.emp_id}} </td>
            </ng-container>

            <!-- Address Column -->
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef> Address </th>
              <td mat-cell *matCellDef="let row"> {{row.address+","}}<br />{{row.city+", "+row.state}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let row"> {{row.email}} </td>
            </ng-container>

            <!-- Phone Column -->
            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
              <td mat-cell *matCellDef="let row"> {{row.phone_no}} </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let row"><button mat-button color="primary" [disabled]="!is_admin"
                  routerLink="/view/{{row.id}}"><i class="fa fa-pencil"></i>View</button></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>

          <mat-paginator #myPaginator [pageSizeOptions]="[10,20,30]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</section>
